.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  //   width: 30%;
  input {
    border: 1px solid rgba(135, 140, 189, 0.3);
    border-radius: 16px;
    padding: 10px 20px;
    &::placeholder{
      color : #6d7bba;
  }
  }
  label{
    display:  flex;
    gap:20px;
    .text-error {
      color: #e91919bd;
    }
  }
}

.wrapper-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
