.collapsible-card {
  // border: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  .collapsible-trigger {
    padding: 10px 15px;
    .ticket-title {
      display: block;
      opacity: 0.8;
      font-size: 32px;
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .ticket-price {
      opacity: 0.8;
      font-size: 32px;
    }
  }
}

.my-ticket-wrapper {
  background-color: #001232;
  min-height: 100vh;

  .bg-my-ticket {
    position: relative;
    &::before {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #0f5ae0 0%, #7400ba 100%);
      opacity: 0.7;
    }
  }
  .my-ticket-content {
    padding-top: 120px;

    display: flex;
    justify-content: space-between;
  }

  .tab-menu {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -5px -10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: calc(60% - 15px);
    li {
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 30px;
      border: 1px solid #11326f;
      padding: 9px 27px;
      border-radius: 25px;
      margin: 0 5px 10px;
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s;
    }

    .active {
      background: -webkit-linear-gradient(169deg, #5560ff 0%, #ff4343 100%);
    }
  }
}

.ticket-item {
  width: 300px !important;
  background: white;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &::after {
    width: 38px;
    height: 38px;
    background-color: #001232;
    border-radius: 50%;
    top: -18px;
    right: -18px;
    position: absolute;
    content: "";
  }
  &::before {
    width: 38px;
    height: 38px;
    background-color: #001232;
    border-radius: 50%;
    top: -18px;
    left: -18px;
    position: absolute;
    content: "";
  }
  .ticket-title {
    position: relative;
    &::after {
      width: 38px;
      height: 38px;
      background-color: #001232;
      border-radius: 50%;
      top: -18px;
      right: 50%;
      transform: translateX(50%);
      position: absolute;
      content: "";
    }
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  button {
    cursor: pointer;
    font-family: "Libre Barcode 39 Text", cursive;
    font-size: 40px;
    background: none;
    border: none;
    width: 100%;
  }

  button:focus {
    outline: none;
  }

  .ticket-footer {
    border-top: 1px dashed black;
    position: relative;
    &::after {
      width: 38px;
      height: 38px;
      background-color: #001232;
      border-radius: 50%;
      top: -18px;
      position: absolute;
      content: "";
    }
    &::before {
      width: 38px;
      height: 38px;
      background-color: #001232;
      border-radius: 50%;
      top: -18px;
      left: -18px;
      position: absolute;
      content: "";
    }
  }
}
