body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
  font-size: 16px;
  color: white;
  position: relative;
}

a {
  text-decoration: none;
}
h2 {
  font-size: 50px;
  line-height: 60px;
  margin-top: -13px;
  font-weight: 700;
}
h3{
    font-size: 36px;
    margin-top: -10px;
    font-weight: 700;
}
h5{
    font-size: 24px;
    margin-top: -8px;
    font-weight: 600;
}

.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.ticket-tab-menu {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -10px;
  li {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 10px;
    min-height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(33.33% - 7px);
    background-color: #7d78ff;
    border-radius: 25px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
    span {
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      padding-left: 10px;
    }
  }
  .active {
    background-image: -webkit-linear-gradient(
      169deg,
      #ff4343 0%,
      #aa52a1 37%,
      #5560ff 83%
    );
    -webkit-box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
    box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
  }
}

.tab-menu {
  display: flex;
  flex-wrap: wrap;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tab-area {
  padding: 30px;
  position: relative;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(44, 41, 157, 0.5);
  box-shadow: 0px 5px 15px 0px rgba(44, 41, 157, 0.5);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 53px;
  &::before {
    content: "";
    background-color: black;
    position: absolute;
    opacity: 0.4;
    width: 100%;
    height: calc(100% + 1px);
    top: 0;
    left: 0;
  }
  .tab-item {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
  }
}

.section-header-2 {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
  .left {
    width: calc(40% - 15px);
    .title {
      text-transform: uppercase;
      margin-bottom: 19px;
    }
  }
  .tab-menu {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -5px -10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: calc(60% - 15px);
    li{
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 30px;
        border: 1px solid #11326f;
        padding: 9px 27px;
        border-radius: 25px;
        margin: 0 5px 10px;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
        .active{
            background: -webkit-linear-gradient(169deg, #5560ff 0%, #ff4343 100%);
        }
    }
  }
}


.swiper-wrapper{
    gap:10px;
}